<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <span class="navbar-brand navbar-nav mb-0 h1">Mongo Scraper</span>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="./home.handlebars">Home</a>
            <a class="nav-item nav-link active" href="./saved.handebars">Saved Articles</a>
        </div>
    </div>
    <div class="navbar-nav">
        <button type="button" class="btn btn-primary float-left ml-auto">Scrape New Articles</button>
    </div>
</nav>

<header>
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4 text-center text-white">Mongo Scraper</h1>
        <p class="text-center text-white">New York Times Edition</p>
    </div>
</header>

<div class="container">
    <div class="row">
        <p>There's nothing here yet...</p>
    </div>
</div>